<% if @posts.any? %>
    <table class="table">
      <tr>
        <th>Name</th>
        <th>Description</th>
        <% if user_signed_in? %>
            <th>Edit</th>
            <th>Destroy</th>
        <% end %>
      </tr>
      <% @posts.each do |post| %>
          <tr>
            <td><%= post.name %></td>
            <td><%= post.description %></td>
            <% if user_signed_in? %>
                <td>
                  <% if can? :update, post %>
                      <%= link_to "Edit #{post.name}", edit_post_path(post) %>

                  <% end %>
                </td>
                <td>
                  <% if can? :destroy, post %>
                      <%= link_to "Delete #{post.name}", post_path(post), method: :delete %>
                  <% end %>
                </td>
            <% end %>
          </tr>
      <% end %>
    </table>
<% else %>
    No posts yet
<% end %>

<% if user_signed_in? %>
    <%= link_to 'Add a post', new_post_path, class: 'btn btn-default' %>
<% end %>